[Unit]
Description=Grok-pull service for %I
After=network.target
Documentation=https://github.com/mricon/grokmirror

[Service]
ExecStart=/usr/bin/grok-pull -o -c /etc/grokmirror/%i.conf
Type=simple
Restart=on-failure
User=mirror
Group=mirror

[Install]
WantedBy=multi-user.target
