[Unit]
Description=Grok-fsck service for %I
Documentation=https://github.com/mricon/grokmirror

[Service]
Type=oneshot
Environment="RUNAS_USER=mirror"
Environment="RUNAS_GROUP=mirror"
Environment="EXTRA_OPTS="
EnvironmentFile=-/etc/sysconfig/grokmirror.default
EnvironmentFile=-/etc/sysconfig/grokmirror.%i
ExecStart=/usr/bin/grok-fsck --user ${RUNAS_USER} --group ${RUNAS_GROUP} -c /etc/grokmirror/%i.conf ${EXTRA_OPTS}
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
