[Unit]
Description=Grok-pull service for %I
After=network.target
Documentation=https://github.com/mricon/grokmirror

[Service]
Environment="RUNAS_USER=mirror RUNAS_GROUP=mirror"
EnvironmentFile=-/etc/sysconfig/grokmirror.default
EnvironmentFile=-/etc/sysconfig/grokmirror.%i
ExecStart=/usr/bin/grok-pull --user ${RUNAS_USER} --group ${RUNAS_GROUP} -o -c /etc/grokmirror/%i.conf
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
